*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    background-color: wheat;
    font-family: 'Oswald', sans-serif;
    cursor: default;
}
::selection{
    background-color: rgb(241, 148, 148);
}
/* Links */
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
a:visited{
    color: rgb(0, 0, 0);    
}
a:hover{
    cursor: pointer;
    color: rgb(180, 180, 180);
}

/* Header */
header{
    display: grid;
    grid-template-columns: 60px 200px 1fr;
    padding: 5px;
    height: 80px;
    background-color: blanchedalmond;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
    border-radius: 15px;
}
header img{
    height: 60px;
    margin-top: 5px;
}
#name{
    margin-left: 10px;
    padding: 1px;
    align-self: center;
}
#login{
    text-align: end;
    margin-right: 20px;
}

/* Window Login */
.window-login, .window-registration, .password-recovery{
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    position: fixed;
    z-index: 2;
    display: none;
    height: 550px;
    text-align: center;
    letter-spacing: 1px;
    width: 400px;
    border-radius: 10px;
    background-color: rgb(255, 239, 212);
}
.exit-button{
    margin-left: 355px;
    margin-top: 9px;
    height: 28px;
    left: 300px;
    cursor: pointer;
}
#enter-title{
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.window-login form, .window-registration form{
    margin-top: 40px;
    margin-left: 45%;
    transform: translateX(-50%);
}
.window-login form input, .window-registration form input, #recovery-form{
    width: 250px;
    height: 50px;
    border-radius: 10px;
    font-size: 15px;
    text-indent: 15px;
    border: 1px solid gray;
}
.window-login form input:focus, .window-registration form input:focus, #recovery-form:focus{
    outline: none;
    border: 1.5px solid rgb(241, 148, 148);
}
#password-form {
    margin-top: 40px;
}
#forget-password{
    letter-spacing: 0.5px;
    font-size: 15px;
    display: block;
}
#register-enter, #enter-next{
    margin-top: 170px;
    font-size: 20px;
    letter-spacing: 0.5px;
}
#register-button, #login-button{
    cursor: pointer;
}
#enter-button, #next-button, #send-button{
    margin-left: 50px;
    width: 100px;
    height: 50px;
    border: none;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: black;
    border-radius: 10px;
    background-color: wheat; 
}
#enter-button:focus, #next-button:focus, #send-button:focus{
    outline: none;
}
/* Window Registration */
#login-form-reg{
    position: relative;
    top: 100px;
}
#accept-rules{
    width: 100%;
    position: relative;
    top: 140px;
    margin-left: 10px;
    margin-top: 100px;
}
.window-registration input[type="checkbox"]{
    width: 25px;
    float: left;
}
.window-registration input[type="checkbox"]:focus{
    color: red;
    background-color: red;
}
#accept-rules a{
    position: relative;
    left: 10px;
    top: 12px;
}
#accept-rules a:hover{
    text-decoration: underline;
    color: black;
}
#accept-terms{
    margin-bottom: 25px;
}
.middle-layer{
    z-index: 1;
    display: none;
    position: fixed;
    width: 100%;
    min-height: 110vh;
    background-color: rgb(53, 53, 53);
    opacity: 0.7;
}
.custom-checkbox{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.custom-checkbox+label::before {
content: '';
display: inline-block;
width: 25px;
height: 25px;
flex-shrink: 0;
flex-grow: 0;
border: 1px solid gray;
border-radius: 0.25em;
margin-right: 5px;
background-repeat: no-repeat;
background-position: center center;
background-size: 50% 50%;
}
.custom-checkbox:checked+label::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.custom-checkbox:checked+label::before {
    border-color: #ffffff;
    background-color: rgb(235, 65, 65);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #a00f0fa1;
}
/* стили для активного состояния чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active+label::before {
    background-color: rgb(241, 148, 148);
    border-color: #b3d7ff;
}
/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgb(241, 148, 148);
}
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox:focus:not(:checked)+label::before {
    border-color: #80bdff;
}
/* стили для чекбокса, находящегося в состоянии disabled */
    .custom-checkbox:disabled+label::before {
    background-color: #e9ecef;
}
/* Window Password Recovery */
.password-recovery{
    height: 230px;
}
#recovery-form{
    margin-top: 25px;
}
#enter-recovery{
    margin-top: 20px;
    transform: translateX(-7%);
}
/* main */
main{
    display: grid;
    grid-template-columns: 180px 1fr 3fr 2fr;
    grid-auto-rows: minmax(600px, auto);
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    padding-top: 50px;
}
/* side */
details summary:focus{
    outline: none;
}
ul{
    list-style-type: none;
}
li{
    padding-left: 50px;
    line-height: 50px;
    
}
li:hover{
    color: rgb(180, 180, 180);
}
.sideBlock{
    margin-top: 15px;
}
/* center */
.centerBlock{
    background-color: rgb(255, 239, 212);
    text-align: center;
    font-size: 40px;
    border-radius: 15px;
}
.mePhoto{
    width: 400px;
    border-radius: 15px;
}
/* Photos page */
.photos-layer{
    width: 500px;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    position: fixed;
    z-index: 2;
    display: none;
}
.photos-layer #close{
    position: absolute;
    cursor: pointer;
    width: 35px;
    right: -35px;
    top: -35px;
}
.photos-layer #close:hover{
    animation-name: round;
    animation-duration: 1.5s;
}
@keyframes round {
    to {
        transform: rotate(360deg);
    }
}
.photos-layer #left, #right{
    width: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.photos-layer #left{
    left: -70px;
}
.photos-layer #right{
    right: -70px;
    transform: rotate(180deg);
}
#active-image{
    width: 100%;
}
#main-photos{
    grid-template-columns: 180px 1fr 3fr 1fr;  
}
#photos-grid{
    display: grid;
    margin-left: 60px;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
#photos-grid>img{
    width: 450px;
}
.photo:hover{
    cursor: pointer;
    opacity: 0.6;;
}
/* footer */
footer{
    margin-top: 154px;
    text-align: center;
    padding-top: 25px;
    font-weight: bold;
    font-size: 25px;
    border-radius: 15px;
    background-color: blanchedalmond;
    height: 80px;
}